nav {
    color: white;
}

.form-control {
    border-radius: 3px;
    width: 300px;
    margin-left: 20px;
}

h3 {
    margin-left: 20px;
    color: white;
}

.form-group {
    position: relative;
    margin-right: 20px;
}

.search-icon {
    position: absolute;
    z-index: 10;
    right: 3%;
    color: blue;
    top: 11px;
}

.add-product-button {
    margin-right: 20px;
}

.logo {
    cursor: pointer;
}

@media (max-width: 500px) {
    div.navbar {
        justify-content: center;
    }
  }